.Finance {
    .Finance__Banner {
        font-family: Monaco;
    }

    .Finance__FromDate, .Finance__ToDate {
        display: inline-block;
    }

    .Finance__DataMain {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
}