@import '../colors';

.MenuBar {
    height: 50px;
    display: flex;
    background-color: $menu-background;
    width: 100%;
    z-index: 10;
    position: relative;

    .MenuGroup {
        width: 150px;
        position: relative;
        background: linear-gradient(
            90deg,
            $menu-background,
            $menu-hovered
        );

        .DropdownTitle {
            line-height: 50px;
            padding: 10px;
            font-size: 16px;
        }

        .DropdownList {
            display: flex;
            flex-direction: column;
            list-style: none;
            background-color: $menu-background;

            .DropdownListItem {
                height: 50px;
                line-height: 30px;
                padding: 10px;
                font-size: 16px;
                cursor: pointer;
                text-indent: 10px;
                position: relative;
                overflow: hidden;

                display: block;
                width: 100%;

                a {
                    display: block;
                }

                &:hover {
                    background-color: $menu-hovered;
                }

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: $menu-decoration;
                    width: 110%;
                    height: 30px;
                    transform: translate3d(0, 40px, 0);
                }

                &:hover:after {
                    transform: translate3d(0, 25px, 0) rotateZ(-2deg);
                    transition: transform 0.4s ease;
                }
            }

            .DropdownListItem__Highlighted {
                background-color: $menu-hovered;
            }
        }
    }
}