@font-face {
  font-family: 'Anivers';
  src: url('./styles/font/Anivers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Regular';
  src: url('./styles/font/Merriweather-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Light';
  src: url('./styles/font/Merriweather-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Light Italic';
  src: url('./styles/font/Merriweather-LightItalic.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Bold';
  src: url('./styles/font/Merriweather-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Bold Italic';
  src: url('./styles/font/Merriweather-BoldItalic.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}