@import './colors.scss';

* {
    box-sizing: border-box;
    // HelveticaNeue
    font-family: Monaco;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.application {
    width: 90%;
    margin: 0 auto;
}

.Content {
    display: flex;
}

.fixed .Content {
    margin-top: 50px;
}