@import "../../../styles/breakpoints";

.Chinese {
  @media only screen and (max-width: $breakpoint-medium) {
    .Chinese__HeaderText {
      display: none;
    }
  }
  .Chinese__Main {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (min-width: $breakpoint-medium) {
      .Container {
        min-width: 500px;
        width: 500px;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        line-height: 500px;
        font-size: 400px;
      }
    }
    .Chinese__TextContainer {
      background-image: url("./mi.jpeg");
      background-size: contain;
    }
    .loadingSpinner {
      background-image: url("./Spinner.svg");
    }
    img {
      height: 500px;
      object-fit: contain;
    }
    .Chinese__WordContainer {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      .Chinese__WordMain {
        font-size: 80px;
        padding: 0 10px;
        margin: 0 10px 10px;
        min-width: 100px;
        line-height: 100px;
        height: 100px;
        cursor: pointer;
        background-color: rgba($color: green, $alpha: 0.6);
        border-radius: 20px;
      }
    }
  } // ui kit styles
  .button {
    line-height: 50px;
    height: 50px;
    width: 120px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px red;
    margin: 10px 20px;
    text-align: left;
    text-indent: 20px;
    width: 80px;
  }
  .longBtn {
    width: 120px;
  }
  .iconBtn {
    text-indent: 50px;
    width: 120px;
    @media only screen and (max-width: $breakpoint-medium) {
      & {
        text-indent: 0px;
        width: 70px;
        background: none !important;
        text-align: center;
      }
    }
  }
  .longIconBtn {
    text-indent: 50px;
    width: 160px;
  }
  .lediIcon {
    background: url("./super-wings/ledi.png") 5px center no-repeat;
    background-size: 40px;
  }
  .xiaoaiIcon {
    background: url("./super-wings/xiaoai.png") 5px center no-repeat;
    background-size: 40px;
  }
  .jingangIcon {
    background: url("./super-wings/jingang.jpeg") 5px center no-repeat;
    background-size: 50px;
  }
  @media only screen and (max-width: $breakpoint-medium) {
    .book__selection {
      display: none;
    }
  }
  .hidden {
    display: none;
  } // media query
  @media screen and (max-width: $breakpoint-small) {
    .Container {
      width: 250px;
      height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;
      line-height: 250px;
      font-size: 200px;
    }
  }
  @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    .Container {
      width: 400px;
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;
      line-height: 373px;
      font-size: 350px;
    }
  }
}