@import './styles/colors.scss';
@import './styles/font';

* {
  box-sizing: border-box; // HelveticaNeue
  // font-family: Monaco;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  position: relative;
}

.application {
  width: 90%;
  margin: 0 auto;
}

.Content {
  display: flex;
}

.fixed .Content {
  margin-top: 50px;
}